In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = ""

In [2]:
import pandas as pd

from inference.flair_model import TextClassifierModel
from utils.model_downloading import download_model

In [9]:
download_model("tiny")

Скачивание модели...
Скачивание эмбедингов... (Может занять время)
Скачивание прошло успешно!

In [10]:
import pathlib
temp = pathlib.PosixPath
pathlib.PosixPath = pathlib.WindowsPath

In [11]:
model = TextClassifierModel.load("model.pt")

In [12]:
data = pd.read_csv("data/payments_main.tsv", sep='\t', header=None, names=["index", "date", "summ", "texts"])

In [13]:
texts = data["texts"]
classes = model.predict(texts, 8)

Batch inference: 100%|██████████| 3125/3125 [01:37<00:00, 32.04it/s]

In [14]:
data["classes"] = classes

In [16]:
data[["index", "classes"]].to_c

       index         classes
0          1         SERVICE
1          2         SERVICE
2          3             TAX
3          4         SERVICE
4          5    BANK_SERVICE
...      ...             ...
24995  24996  NON_FOOD_GOODS
24996  24997             TAX
24997  24998    BANK_SERVICE
24998  24999             TAX
24999  25000      FOOD_GOODS

[25000 rows x 2 columns]

In [19]:
data[["index", "classes"]].to_csv('data/output.tsv', sep='\t', index=False, header=False)

In [ ]:
import boto3
s3 = boto3.resource('s3', endpoint_url=ENDPOINT,
                      aws_access_key_id=("YCAJEDYH8sOEKETe5gXbog3r7"),
                    aws_secret_access_key=("YCP86xjxXtmSoU5NjJslZIc_JuVjglPdOlQXf3h0"))
s3.Bucket(bucket_name).upload_file('./test.txt', 'test.txt')

In [24]:
data

,index,date,summ,text
0,1,07.11.2024,40500.00,За тур.поездку по договору №001 от 27.01.2023г
1,2,07.11.2024,"32600,00",За оказание услуг по договору №53Б-02746 от 23...
2,3,07.11.2024,4710-00,Оплата штрафа
3,4,07.11.2024,30900-00,Лечение по договору №Д-00359/24 от 08.03.2025
4,5,07.11.2024,13200.00,Оплата основного долга за период с 16.12.2024г...
...,...,...,...,...
24995,24996,07.11.2024,"3300000,00",Оплата по договору №Е01905 от 25.02.2023. сырь...
24996,24997,07.11.2024,"2270,00",гос.услуга
24997,24998,07.11.2024,1750000.00,Предоставление кредита по договору №Д-00803/03...
24998,24999,07.11.2024,3560.00,Оплата гос. пошлины
24999,25000,07.11.2024,2910.00,Оплата за Подушечки Любятово с шоколадной начи...